.logo {
    display: flex;
    align-items: center;
    color: var(--purewhite);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

.logo:hover {
    color: var(--apricotcream);
}

.logoImage {
    border-radius: 50%;
}

.logo:hover .roGradient {
    background: linear-gradient(to right, #002B7F, #FCD116, #CE1126);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

  
@media screen and (min-width: 375px) {
    .logo img {
        margin-right: 2.5rem;
    }
}