.card {
    padding: 1rem;
    background-color: var(--lightgray);
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem; 
      text-transform: uppercase;
    max-width: 19rem;
    min-width: 18rem;
  }
  
  .card h3 {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    color: var(--jetblack);
  }
  
  .card .image {
    border-radius: 0.5rem 0.5rem 0 0; 
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .card .buttonContainer {
    display: flex;
    gap: 0.5rem;
    margin-bottom: -1.5rem;
  }
  
  .card .buttonContainer button {
    flex: 1;
  }
  
  @media (max-width: 375px) {
    .card {
        margin: 0 auto; 
        min-width: 18rem;
    }
  }