.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  background-color: var(--jetblack);
  position: relative;
  z-index: 10;
}

.blurEffect {
  backdrop-filter: blur(4px);
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ButtonsWrapper {
  display: flex;
  align-items: center;
}

.positionedContent {
  position: relative;
}

.overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--purewhite);
}

.overlayContentCart {
  margin-top: 1.5rem;
  background-color: transparent;
}

@media (min-width: 768px) {
  .header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    justify-content: flex-start;
  }
  .header *:not(:last-child) {
    margin-right: 2.5rem;
  }

  .ButtonsWrapper {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .userBannerPreventMobile {
    display: none;
  }
}

.userBannerPreventDesktop {
  display: flex;
  background-color: var(--jetblack);
  justify-content: center;
  padding-bottom: 1.5rem;
}

.userBannerPreventDesktop p {
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .userBannerPreventDesktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-around;
  }

  .ButtonsWrapper {
    margin-left: 0;
  }

  .headerLogo {
    order: -1;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-left: 9.5rem;
    padding-right: 9.5rem;
  }
}
