.categoriesBanners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  position: "relative";
  z-index: 10;
}

@media (min-width: 768px) {
  .categoriesBanners {
    flex-direction: row;
    margin-top: 7rem;
  }
}

@media (min-width: 1024px) {
  .categoriesBanners {
    flex-direction: row;
    margin-top: 7rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .categoriesBanners {
    flex-direction: row;
    margin-top: 7rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
